body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
    height: auto;
}

/* ---------- HEADER ---------- */
header {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    padding: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

/* ---------- HEADER CONTENT ---------- */
.card {
    width: 450px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    flex-grow: 1;
    min-height: 50vh;
}

.card-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.card-body {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 100px;
}