body {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    background: gray;
    width: 500px;
    height: 250px;
    text-align: center;
    line-height: 225px;
}

/* ---------- HEADER ---------- */
header {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    padding: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

/* ---------- HEADER CONTENT ---------- */
.card {
    width: 450px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    flex-grow: 1;
    min-height: 50vh;
}

.card-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.card-body {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 100px;
}

/* ---------- SOME RANDOM INFORMATION ---------- */
.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    padding: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.item {
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
    margin-top: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.illus-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.illus-text {
    padding: 20px;
    width: 150px;
    text-align: center;
}

/* ---------- QUOTE CONTENT ---------- */
.quote-content {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    width: 825px;
    margin-top: 100px;
}

.author {
    margin-bottom: 100px;
    font-size: 18px;
    font-weight: 900;
    text-align: right;
}

/* ---------- CALL TO ACTION ---------- */

.call-to-action-content {
    display: flex;
    justify-content: center;
}

.cta-container {
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    width: 80%;
    height: 150px;
    background-color: #3882F6;
    border-radius: 12px;
}

.cta-button {
    border: 2px solid white;
}

.cta {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.sign-up-text {
    font-size: 18px;
    color: #F9FAF8; 
    margin-top: -20px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}